.venv
.DS_Store
.vscode
.OTTER_LOG
*.pyc
.venv/Lib/site-packages/pip/_vendor/urllib3/util/timeout.py
*/.ipynb_checkpoints/
SRJC/team_hw/temp.ipynb
SRJC/lecture_note/lecture_07_08/.ipynb_checkpoints/charts_histograms-checkpoint.ipynb
SRJC/lecture_note/lecture_10/.ipynb_checkpoints/groups_pivots-checkpoint.ipynb
SRJC/lecture_note/lecture_11/.ipynb_checkpoints/joins-checkpoint.ipynb
